<h1>Seja Bem Vindo(a) ao PetGatô</h1>
<p>Você acabou de se cadastrar no nosso Blog com o nome de: "<%=@user.name %>".</p>
<%= image_tag attachments['cat.gif'].url, alt: 'Gato viajado', class: 'photos' %>